<!-- ejemplo.component.html -->
<div *ngIf="cargando" class="loading-container">
  <p>Cargando...</p>
  <!-- Puedes usar un spinner también -->
  <div class="spinner"></div>
</div>

<div *ngIf="!cargando">
  <button class="close" mat-button mat-dialog-title (click)="cancelar()">x</button>
    <form #formGeneral="ngForm">
      <div mat-dialog-content>
        <h3>Visualizar Venta Nro:({{data.id}})</h3>
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Tipo de Documento</mat-label>
              <mat-select name="tipoDoc" [(ngModel)]="data.tipoDoc" readonly>
                  <mat-option >Seleccionar</mat-option>
                  <mat-option value="Ticket">Ticket</mat-option>
                  <mat-option value="Boleta">Boleta</mat-option>
                  <mat-option value="Factura">Factura</mat-option>
              </mat-select>
          </mat-form-field>
            </div>

          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>Documento</mat-label>
                <input matInput [(ngModel)]="data.num_documento" name="num_documento" maxlength="110" minlength="2" type="text" placeholder="Documento" readonly>
                </mat-form-field>



          </div>
          <div class="col-3">
            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
                <input matInput [(ngModel)]="data.telefono" name="telefono" maxlength="110" minlength="2" type="text" placeholder="Teléfono" readonly>
                </mat-form-field>



          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Terminal</mat-label>
              <mat-select matInput matInput [(ngModel)]="data.id_sucursal" name="id" required>
                  <mat-option value="">Seleccionar</mat-option>
                <mat-option  *ngFor="let subcat of sucursales" [value]="subcat.id">
                  {{subcat.nombre}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row">
              <div class="col-10"> <mat-form-field appearance="outline">
                <mat-label>Observación</mat-label>
                <input matInput [(ngModel)]="data.observacion" name="observacion" maxlength="110" minlength="2" type="text" placeholder="Observación">
                  
                </mat-form-field></div>
              <div class="col-2"> <i (click)="save(data)" class="material-icons" style="cursor: pointer;margin-top: 10px;font-size:30px;color: darkgray;">save</i></div>
            </div>

               
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline">
              <mat-label>Cliente</mat-label>
                <input matInput [(ngModel)]="data.cliente" name="nombre" maxlength="110" minlength="2" type="text" placeholder="" readonly>
                </mat-form-field>
                <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput [(ngModel)]="data.direccion" name="direccion" maxlength="110" minlength="2" type="text" placeholder="Dirección" readonly>
                </mat-form-field>
          </div>
        <div class="row">
            <div class="col-4 offset-1">
              <mat-form-field>
                <mat-label>Valor neto S/</mat-label>
                <input matInput name="valor_neto"  type="number"   [(ngModel)]="data.valor_total" readonly>
              </mat-form-field>
               </div>
            <div class="col-3">
              <mat-form-field>
                <mat-label>Monto IGV S/</mat-label>
                  <input matInput name="monto_igv"  type="number" value="0.00" readonly>
              </mat-form-field>
              </div>

            <div class="col-4">
              <mat-form-field>
                <mat-label>Monto Total S/</mat-label>
                  <input matInput name="valor_total" type="number"   [(ngModel)]="data.valor_total" readonly>
              </mat-form-field>
                  </div>
            </div>

    </div>
        </div>
    </form>

  <!-- <button mat-raised-button class="btn btn-success" (click)="abrirDialog()" [disabled]="!formGeneral.form.valid">Agregar Items</button>-->
  <div style="display:flex;width: 100%;">
  <div style="height:200px;margin-top:10px;flex-grow:1;">
    <h4>Detalle de pedido</h4>
      <mat-table [dataSource]="dataDetalle" matSort style="overflow-y:scroll">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cantidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.cantidad | number}} </mat-cell>

        </ng-container>
        <ng-container matColumnDef="pendiente">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pendiente</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a *ngIf="row.pendiente>0 && data.estado=='Registrado'" class="numero_edicion" (click)="openCantidad('20ms','20ms',row.id,row.id_producto,row.pendiente,row.nombre,data.id)">{{row.pendiente | number}}</a>
            <span *ngIf="row.pendiente==0">{{row.pendiente | number}}</span>
            <span *ngIf="data.estado=='Anulado'">{{row.pendiente | number}}</span>
          </mat-cell>

        </ng-container>
        <ng-container matColumnDef="precio">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
          <mat-cell *matCellDef="let row">S/. {{row.precio | number }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subtotal">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Subtotal</mat-header-cell>
          <mat-cell *matCellDef="let row">S/.{{ row.subtotal | number }}
          </mat-cell>
        </ng-container>
         <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" [showFirstLastButtons]></mat-paginator>
    </div>

    <div style="height:200px;margin-top:10px;flex-grow:1;">
      <h4>Detalle Pagos</h4>
      <button *ngIf="data.monto_pendiente>0 && data.estado!='Anulado'" mat-icon-button color="warn">
        &nbsp;&nbsp;Agregar pago: <i class="material-icons"  (click)="openMontoPendiente('20ms','20ms',data.id)" >add_circle</i>
      </button>


   <mat-table [dataSource]="dataPagos" matSort style="overflow-y:scroll">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="caja">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Caja</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.caja}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="numero_operacion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Operación</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.numero_operacion}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="monto">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Monto</mat-header-cell>
          <mat-cell *matCellDef="let row">S/ {{row.monto | number}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="monto_pendiente">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Monto pendiente</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <!--<a *ngIf="row.estado" class="pendiente" (click)="openMontoPendiente('20ms','20ms',row.id,row.id_venta,row.monto_pendiente,row.nombre)">S/ {{row.monto_pendiente | number}}</a>-->
             S/ {{row.monto_pendiente | number}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha_registro">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.fecha_registro}}</mat-cell>
        </ng-container>
         <mat-header-row *matHeaderRowDef="displayedColumnsPago" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsPago;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" [showFirstLastButtons]></mat-paginator>
    </div>

  </div>
</div>