
mat-header-cell{font-size: 13px; font-weight: 700;color: black;}
mat-cell{font-size: 12px; color:black;font-weight: 500}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    border-bottom: unset;
  }
  .numero_edicion{
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: darkblue;

}

.pendiente{
  color:red;
  font-weight: 600;
  cursor:pointer;
}