<div class="content">
  <app-barratareas></app-barratareas>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Tesorería</h4>
        <p class="card-category">Realizar movimientos de Tesorería</p>
      </div>
      <div class="card-body">
        <div class="container mt-4">
          <h2></h2>

          <div class="card mb-3">
            <div class="card-header">Seleccionar la Cuenta:</div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Cuenta</mat-label>
                    <mat-select
                      [(ngModel)]="mov.cuenta"
                      (selectionChange)="seleccionarCuenta($event)"
                      required
                    >
                      <mat-option value="">Seleccionar</mat-option>
                      <mat-option
                        *ngFor="let caj of dataCajas"
                        [value]="caj.id"
                        >{{ caj.nombre }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-8">
                  <div class="row text-center">
                    <div class="col">
                      <h6>Ingresos</h6>

                      <h3 class="text-success">
                        {{ totalIngreso | currency : "S/ " }}
                      </h3>
                    </div>

                    <div class="col">
                      <h6>Egresos</h6>

                      <h3 class="text-danger">
                        {{ totalEgreso | currency : "S/ " }}
                      </h3>
                    </div>

                    <div class="col">
                      <h6>Saldo</h6>

                      <h3
                        [class.text-success]="totalSaldo >= 0"
                        [class.text-danger]="totalSaldo < 0"
                      >
                        {{ totalSaldo | currency : "S/ " }}
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">Nuevo Movimiento</div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <label>Fecha</label>

                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="mov.fecha"
                  />
                </div>

                <div class="col-md-2">
                  <label>Tipo</label>

                  <select class="form-control" [(ngModel)]="mov.tipo">
                    <option>Ingreso</option>
                    <option>Egreso</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label>Concepto</label>

                  <input class="form-control" [(ngModel)]="mov.concepto" />
                </div>

                <div class="col-md-2">
                  <label>Monto</label>

                  <input
                    type="number"
                    class="form-control"
                    [(ngModel)]="mov.monto"
                  />
                </div>
              </div>

              <div class="mt-3">
                <button
                  [disabled]="this.totalIngreso == 0.0"
                  class="btn btn-primary"
                  (click)="guardar()"
                >
                  Guardar Movimiento
                </button>
              </div>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-header">Movimientos</div>
            <div class="container-fluid mb-4">
              <div class="row">
                <div class="col-md-3">
                  <!-- <input type="date" class="form-control" [(ngModel)]="selectedMoment">-->
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Inicio</mat-label>
                    <input
                      name="fecha"
                      [(ngModel)]="selectedMoment"
                      #fecha="ngModel"
                      matInput
                      [matDatepicker]="picker"
                    />
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Inicio</mat-label>
                    <input
                      name="fecha2"
                      [(ngModel)]="selectedMoment2"
                      #fecha="ngModel"
                      matInput
                      [matDatepicker]="picker2"
                    />
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker2"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-2 pt-2">
                  <button
                    type="button"
                    class="enviar"
                    (click)="enviaFechas()"
                    mat-raised-button
                    color="primary"
                    cdkFocusInitial
                  >
                    <i class="material-icons">search</i> Consultar
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <mat-table [dataSource]="dataSource" matSort #empTbSort="matSort">
                <!--  Columna ID-->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >ID</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="fecha_registro">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    {{ row.fecha_registro }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tipo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Tipo</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row"> {{ row.tipo }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="concepto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Concepto</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row">{{ row.concepto }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="monto">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Monto</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row"  [ngClass]="{
    'monto-negativo': row.monto < 0,
    'monto-positivo': row.monto > 0,
    'monto-cero': row.monto === 0
  }">{{ row.monto }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="opciones">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >Opciones</mat-header-cell
                  >
                  <mat-cell *matCellDef="let row"><button  mat-icon-button color="warn" matTooltip="Anular">
                    <i class="material-icons" (click)="anularMovimiento(row)" >delete</i>
                 </button> </mat-cell>
                </ng-container>


                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                  class="encabezado"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 50, 100]"
                [pageSize]="10"
                [showFirstLastButtons]
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
