.example-button-row{
    background-color: white;
}
.mat-row.hovered {
    background: rgb(146, 107, 107);
}

.mat-row.highlighted {
  background: #999;
}
mat-header-cell{font-size: 14px; font-weight: 700;}
mat-cell{font-size: 13px;  font-weight: 400;color: black !important}


.card{

  border-radius:12px;

  box-shadow:0px 4px 10px rgba(0,0,0,.15);

  }

  table{

  font-size:14px;

  }

  h3{

  font-weight:bold;

  }