.claseVuelto{
    color:green !important;
}
.clasePendiente{
    color:red !important;
}
mat-datepicker-toggle
{
    float: right !important;
    position: absolute;
    top: 0px;
    right: 0px;
}

.buscador{
    height: 43px;
    margin: 0px;
    border: solid 1px #ccc;
    border-radius: 42px;
    padding-left: 12px;
    width: 384px !important;
}