.claseVuelto{
    color:green !important;
}
.clasePendiente{
    color:red !important;
}
mat-datepicker-toggle
{
    float: right !important;
    position: absolute;
    top: -12px;
    right: 14px;
}