<small>{{data.nombre}} {{data.monto_pendiente}}</small>
<mat-form-field appearance="outline">
  <mat-label>Forma de pago</mat-label>
  <mat-select name="tipoPago" [(ngModel)]="data.tipoPago" required>
      <mat-option value="">Seleccionar</mat-option>
      <mat-option *ngFor="let med of dataMedios" [value]="med.id">{{med.nombre}}</mat-option>
  </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>A la cuenta</mat-label>
    <mat-select name="cuentaPago" [(ngModel)]="data.cuentaPago" required>
        <mat-option value="">Seleccionar</mat-option>
        <mat-option *ngFor="let caj of dataCajas" [value]="caj.id">{{caj.nombre}}</mat-option>
    </mat-select>

</mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Monto de Pago</mat-label>
      <input matInput [(ngModel)]="data.monto" name="monto" type="number">
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="data"  cdkFocusInitial>Actualizar</button>
    </div>