.example-container  {
    display: flex;
    align-items:center;
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  mat-datepicker-toggle
{
  float: right !important;
  position: absolute;
  top: 0px;
  right: 0px;
}