.claseVuelto{
    color:green !important;
}
.mat-dialog-content{
    overflow-x: hidden !important;
    overflow-y: auto;
}

.clasePendiente{
    color:red !important;
}
.buscador{
    height: 43px;
    margin: 3px;
    border: solid 1px #ccc;
    border-radius: 6px;
    padding-left: 12px;
    width: 96% !important;
}

hr.separador{
color: #000;
height: 2px;
border:2px dotted !important;
}

#recibo{
    display: none;
}

#recibo{
    font-family: 'OswBold';
}