<h1 mat-dialog-title>Registrar venta</h1>
<form [formGroup]="MyForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select name="id_documento" formControlName="tipoDoc" required>
                        <mat-option >Seleccionar</mat-option>
                        <mat-option (click)="cambiaTicket('Ticket')" value="Ticket">Ticket</mat-option>
                        <mat-option (click)="cambiaTicket('Boleta')" value="Boleta">Boleta</mat-option>
                        <mat-option (click)="cambiaTicket('Factura')" value="Factura">Factura</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Vendedor</mat-label>
                    <mat-select name="vendedor" formControlName="vendedor"  required>
                        <mat-option value="">Seleccionar</mat-option>
                        <mat-option *ngFor="let ven of dataVendedores" [value]="ven.id">{{ven.nombre}}</mat-option>

                    </mat-select>

                </mat-form-field>

            </div>
            <div class="col-12">
                <!--<input matInput class="form-control" placeholder="Buscar categoria..">-->

                <mat-form-field appearance="outline">
                    <mat-label>Cliente</mat-label>

                    <mat-select name="id_cliente" formControlName="cliente"  (selectionChange)="seleccionarCliente($event)">
                        <input matInput class="buscador" (keyup)="onKey($event.target.value)" placeholder="Buscar por nombre o RUC">
                        <mat-option  value="">Seleccionar</mat-option>
                        <mat-option  value="0">Sin cliente</mat-option>
                        <mat-option *ngFor="let cat of dataClientes" [value]="cat.id">{{cat.nombre}}</mat-option>
                    </mat-select>

                </mat-form-field>

            </div>
            <div formArrayName="pagos">
                <div class="row" *ngFor="let pag of Pagos.controls; let i = index" [formGroupName]="i" >
            <div class="col-7">
                <mat-form-field appearance="outline">
                    <mat-label>Forma de pago</mat-label>
                    <mat-select name="tipopago" formControlName="tipoPago"  required>
                        <mat-option value="">Seleccionar</mat-option>
                        <mat-option *ngFor="let caj of dataCajas" [value]="caj.nombre">{{caj.nombre}}</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Monto recibido</mat-label>
                    <input matInput name="montoRecibido" formControlName="montoPago" mask="separator.2" prefix="S/ " (focusout)="cambiaVuelto(data.precio)"  value="0"  type="text" required>
                </mat-form-field>
                </div>
                <div class="col-1">
                    <button mat-icon-button color="warn" *ngIf="i==0"  (click)="onAddToPago()">
                        <i class="material-icons">add_circle</i>
                    </button>
                    <button  mat-icon-button color="warn" *ngIf="i>0"  (click)="onDeletePago(i)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline">
                    <mat-label>Comentario</mat-label>
                    <input matInput  name="comentario" formControlName="comentario"  type="text" placeholder="Comentario">
                </mat-form-field>
            </div>
            <div class="offset-5 col-4">
            <mat-form-field appearance="outline">
                <mat-label>Total</mat-label>
                <input matInput  name="vuelto" mask="separator.2" prefix="S/ " formControlName="total" type="text" readonly>
            </mat-form-field>
                </div>
            <div class=" col-3">
                <mat-form-field appearance="outline">
                    <mat-label>{{vuelto}}</mat-label>
                    <input    [ngClass]="{'claseVuelto': vuelto === 'Vuelto', 'clasePendiente' : vuelto === 'Pendiente' }" matInput  name="vuelto" mask="separator.2" prefix="S/ "  formControlName="vuelto"  type="text" placeholder="Precio">
                </mat-form-field>
            </div>
        </div>
    </div>
   <!-- <mat-form-field appearance="outline">
        <mat-label>Impresora</mat-label>
        <mat-select name="impresoras" formControlName="impresoras" required>
            <mat-option value="">Seleccionar</mat-option>
            <mat-option *ngFor="let imp of impresoras" [value]="imp">{{imp}}</mat-option>
    </mat-select>
    </mat-form-field>-->
    <div mat-dialog-actions class="float-right">
        <mat-slide-toggle color="primary" name="entrega" formControlName="entrega" (ngModelChange)="alerta()">Entrega Parcial</mat-slide-toggle>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button type="submit"  mat-raised-button color="primary"  [disabled]="!MyForm.valid"  cdkFocusInitial><i class="material-icons">save</i> Registrar</button>
    </div>
</form>
<!--<button (click)="imprimir()">print</button>
{{this.MyForm.value | json }}-->
<div id="recibo">
    <div style="display:flex;justify-content:space-around;margin-bottom:14px;">
    <div style="text-align:right;padding-left:20px;"><img src="https://aprendeadistancia.online/erp/assets/img/logo-erp.png" width="50px" height="50px"></div>
    <div style="font-size:10px;text-align:left;font-weight:bold;padding-top: 12px;padding-right:40px;">LAS HERMANITAS<br>
</div>
    </div>
    <div style="font-size:11px;text-align:center;line-height: 13px;">
    <strong>Ferretería y materiales de contrucción las<br>
    Hermanitas E.I.R.L.</strong><br>
    WhatsApp / Teléfono: 902 715 979<br>
    lashermanitas_bertha@hotmail.com<br>
    LT. 9 MZ E COO. LA ESPERANZA<br> - Santiago de Surco - Lima - Lima<br>
    RUC: 2053799520<br>
    </div>
    <br>
    <strong style="font-size: 10px">ADQUIRIENTE:</strong><br>
    <div style="font-size:11px">
    I.E/DNI: {{numero_doc}}<br>
    <strong>{{clientetexto}} </strong><br>
    </div>
  <hr>
  <div style="Font-family:'OswBold';font-size: 11px">DESCRIPCION&nbsp;&nbsp;   CANT.&nbsp;&nbsp;  U.M.&nbsp;&nbsp;    PRECIO&nbsp;&nbsp;IMPORTE</div>
    <hr>
        <div *ngFor="let det of data.detalle">
            <div style="font-size:14px;display:flex;justify-content:flex-start">{{det.nombre}}</div>
          <div style="font-size:14px;display:flex;justify-content:flex-end">{{det.cantidad}}&nbsp;&nbsp;&nbsp;&nbsp;  NIU &nbsp;&nbsp;&nbsp;&nbsp; S/ {{det.precio}} &nbsp;&nbsp;&nbsp;&nbsp;  S/ {{det.cantidad * det.precio-(det.descuento*det.cantidad)| number }}</div>
    ---------------------------------------
  </div>

<div style="display:flex;justify-content: flex-end; Font-family:'OswBold';font-size:15px;">
<div style="text-align:right;font-weight: 700;">Operaciones Gravadas: S/<br>I.G.V: S/<br>Total: S/</div><div style="text-align:right;font-weight: 700;">{{MyForm.value.neto | number }}<br>
    {{MyForm.value.igv | number}}<br>
    {{MyForm.value.total | number}}
</div>
<div></div>
</div>
</div>


<!--<pre>{{impresoras| json}}</pre>

<pre>{{MyForm.value.pagos[0].montoPago | json}}</pre>-->
