<h1 mat-dialog-title>Registrar venta</h1>
<form [formGroup]="MyForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select name="id_documento" formControlName="tipoDoc" required>
                        <mat-option >Seleccionar</mat-option>
                        <mat-option value="Boleta">Boleta</mat-option>
                        <mat-option value="Factura">Factura</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline">
                    <mat-label>Vendedor</mat-label>
                    <mat-select name="vendedor" formControlName="vendedor"  required>
                        <mat-option value="">Seleccionar</mat-option>
                        <mat-option value="1">Vendedor 1</mat-option>
                        <mat-option value="2">Vendedor 2</mat-option>
                    </mat-select>

                </mat-form-field>

            </div>
            <div class="col-12">
                <input matInput class="form-control" placeholder="Buscar categoria..">
                <mat-form-field appearance="outline">
                    <mat-label>Cliente</mat-label>
                    <mat-select name="id_cliente" formControlName="cliente">
                        <mat-option  value="0">Sin cliente</mat-option>
                        <mat-option *ngFor="let cat of dataClientes" [value]="cat.id">{{cat.nombre}}</mat-option>
                    </mat-select>

                </mat-form-field>

            </div>
            <div formArrayName="pagos" style="width:100%">
                <button class="btn btn-outline-danger" type="button" (click)="onAddToPago()">(+)</button>
                <div class="row" *ngFor="let pag of Pagos.controls; let i = index" [formGroupName]="i" >
            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Forma de pago</mat-label>
                    <mat-select name="tipopago" formControlName="tipoPago"  required>
                        <mat-option value="">Seleccionar</mat-option>
                        <mat-option value="Efectivo">Efectivo</mat-option>
                        <mat-option value="Transferencia">Transferencia</mat-option>
                        <mat-option value="Deposito">Deposito</mat-option>
                        <mat-option value="Yape">Yape</mat-option>
                    </mat-select>

                </mat-form-field>
            </div>
            <div class="col-5">
                <mat-form-field appearance="outline">
                    <mat-label>Monto recibido</mat-label>
                    <input matInput name="montoRecibido" formControlName="montoPago" (ngModelChange)="cambiaVuelto(montoRecibido,data.precio)"  type="number" placeholder="Monto" required>
                </mat-form-field>
                </div>
                <div class="col-2">

                </div>
            </div>
            </div>
            <div class="offset-8 col-4">
                <mat-form-field appearance="outline">
                    <mat-label>Vuelto</mat-label>
                    <input matInput  name="vuelto" type="number" placeholder="Precio" readonly="">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="float-right">
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-button type="submit">Enviar</button>
        <!--<button mat-raised-button [mat-dialog-close]="data" [disabled]="!formGeneralDos.form.valid"  cdkFocusInitial>Registrar</button>-->
    </div>
</form>
<pre>{{MyForm.valid | json}}</pre>
<pre>{{MyForm.value | json}}</pre>
{{data.precio}}