 <button class="close" mat-button mat-dialog-title (click)="cancelar()">x</button>
<h4>Configurar la impresora predeterminada</h4>
<p>Atención! para ver la lista de impresoras<br> disponibles debe ejecutar el programa<br>
    <b>Plugin_Impresora_termica_AbrazaSoft.exe</b><br>
    Si no lo tienes disponible descargalo <a href="https://aprendeadistancia.online/erp/impresora/Plugin_Impresora_termica_AbrazaSoft.exe">aquí</a>.
</p>
<iframe src="https://aprendeadistancia.online/erp/impresora/" width="450" height="80" frameBorder="0"></iframe>
<!--<button mat-raised-button color="primary" cdkFocusInitial [mat-dialog-close]="data"><i class="material-icons">save</i>Aceptar</button>-->