<div class="content">
    <app-barratareas></app-barratareas>
  <div class="container-fluid">



    <div class="row">
        <div class="col-md-12">

         <div class="card">
             <div class="card-header card-header-danger">
                 <h4 class="card-title ">Kardex</h4>
                 <p class="card-category">Kardex del Sistema</p>


             </div>
             <section>
              <div class="example-button-row">
                <div class="example-flex-container">
                  <div class="row mt-2">
                    <div class="col-2 ml-1">
                      <mat-form-field appearance="outline">
                        <mat-label>Producto</mat-label>

                        <mat-select name="id_producto" [(ngModel)]="id_producto">
                            <input matInput class="buscador" (keyup)="onKey($event.target.value)" placeholder="Buscar por nombre">
                            <mat-option  value="">Seleccionar</mat-option>
                          <mat-option *ngFor="let pro of dataProductos" [value]="pro.id">{{pro.nombre}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                    </div>
                    <div class="col-1">
                  <mat-form-field appearance="outline">
                    <mat-label>Sucursal: </mat-label>
                    <mat-select  name="id_sucursal" [(ngModel)]="id_sucursal">
                     <mat-option value="0">Todos</mat-option>
                     <mat-option *ngFor="let suc of dataSucursales" [value]="suc.id">{{suc.nombre}}</mat-option>
                     </mat-select>
                  </mat-form-field>
                  </div>
                  <div class="col-1">
                    <mat-form-field appearance="outline">
                      <mat-label>Movimiento: </mat-label>
                      <mat-select name="movimiento" name="tipo_movimiento" [(ngModel)]="tipo_movimiento">
                       <mat-option value="0">Todos</mat-option>
                       <mat-option value="Ingreso">Ingreso</mat-option>
                       <mat-option value="Salida">Salida</mat-option>

                       </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha Inicio</mat-label>
                      <input name="fecha" [(ngModel)]="selectedMoment" #fecha="ngModel"  matInput [matDatepicker]="picker">
                      <mat-hint>DD/MM/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-2">
                    <mat-form-field appearance="outline">
                      <mat-label>Fecha Fin</mat-label>
                      <input name="fecha2" [(ngModel)]="selectedMoment2"  #fecha2="ngModel" matInput [matDatepicker]="picker2">
                      <mat-hint>DD/MM/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-1">
                    <input class="porid" name="id_compra" [(ngModel)]="id_compra" matInput  placeholder="ID Compra">
                  </div>
                  <div class="col-1">
                    <input class="porid" name="id_venta" [(ngModel)]="id_venta" matInput  placeholder="ID Venta">
                  </div>
                  <div class="col-1 d-flex">
                    <button mat-icon-button color="primary" (click)="Busqueda()" aria-label="Example icon button with a heart icon">
                      <i class="material-icons">search</i>
                    </button>
                    <button mat-icon-button color="primary" (click)="reset()" aria-label="s">
                      <i class="material-icons">refresh</i>
                    </button>
                  </div>
                  </div>
                </div>
              </div>
            </section>
             <div class="card-body">
              <mat-card *ngFor="let datos of dataSource" class="card" class="example-card">
                <mat-card-header>
                   <mat-card-title>({{datos.id}}) {{datos.nombre}}
                    <br >  promedio: S/ {{datos.promedio[0].promedio | number}} <br>
                     Stock: <strong>{{datos.stock.cantidad}}</strong> unidades<br>
                    Costo de Venta: S/ {{datos.costo_venta[0].costo_acumulado_ingreso | number}}
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <table mat-table [dataSource]="datos.detalle" class="mat-elevation-z8">
                    <ng-container matColumnDef="comentario">
                      <th mat-header-cell *matHeaderCellDef>Detalle</th>
                      <td mat-cell *matCellDef="let element"> {{element.comentario}} </td>

                    </ng-container>

                    <ng-container matColumnDef="tipo_movimiento">
                      <th mat-header-cell *matHeaderCellDef> Tipo Movimiento </th>
                      <td [ngClass]="element.cantidad > 0 ? 'ingreso' : 'salida'"  mat-cell *matCellDef="let element"> {{element.tipo_movimiento}} </td>

                    </ng-container>
                    <ng-container matColumnDef="almacen">
                      <th mat-header-cell *matHeaderCellDef>Almacen</th>
                      <td mat-cell *matCellDef="let element"> {{element.almacen}} </td>

                    </ng-container>
                    <ng-container matColumnDef="id_compra">
                      <th mat-header-cell *matHeaderCellDef>Codigo Compra </th>
                      <td  mat-cell *matCellDef="let element">  {{element.id_compra}} </td>

                    </ng-container>
                    <ng-container matColumnDef="id_venta">
                      <th mat-header-cell *matHeaderCellDef>Codigo Venta </th>
                      <td  mat-cell *matCellDef="let element">  {{element.id_venta}} </td>

                    </ng-container>
                    <ng-container matColumnDef="cantidad">
                      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                      <td  [ngClass]="element.cantidad > 0 ? 'ingreso' : 'salida'"  mat-cell *matCellDef="let element"> {{element.cantidad}} </td>

                    </ng-container>
                    <ng-container matColumnDef="precio">
                      <th mat-header-cell *matHeaderCellDef> Precio </th>
                      <td [ngClass]="element.cantidad > 0 ? 'ingreso' : 'salida'" mat-cell *matCellDef="let element">S/ {{element.precio}} </td>
                    </ng-container>
                    <ng-container matColumnDef="p_total">
                      <th mat-header-cell *matHeaderCellDef> Costo total </th>
                      <td [ngClass]="element.cantidad > 0 ? 'ingreso' : 'salida'" mat-cell *matCellDef="let element">S/ {{element.p_total}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha_registro">
                      <th mat-header-cell *matHeaderCellDef>Fecha de Registro </th>
                      <td mat-cell *matCellDef="let element"> {{element.fecha_registro}} </td>

                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  </table>

                </mat-card-content>
                </mat-card>
             </div>
         </div>
     </div>

 </div>
