<div class="content">
  <app-barratareas></app-barratareas>
<div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Buscar producto</mat-label>
          <input matInput width="500" placeholder="Buscar producto"(keyup)="applyFilter($event.target.value)">
       </mat-form-field>
       <div style="display:block"><mat-spinner *ngIf="loading" diameter="150"></mat-spinner></div>
       <div class="resultado">
       <ul class="flex-container" *ngIf="!loading">
      <li class="flex-item" (click)="enviarProducto(item.id,item.nombre,1,item.precio)" *ngFor="let item of dataSource; let i=index"
       style="cursor: pointer;background-image: url(http://35.231.78.51/erp-api/upload/{{item.imagen}});background-size: 90%;background-repeat: no-repeat;">
        <div class="precio"><div class="texto">S/ {{item.precio}}</div></div>
       <div class="titulo">{{item.nombre}}</div>
       </li>
    </ul>

    </div>
      </div>
      <div class="col-6">
        <div class="card-body">
          <div class="table-responsive boleta">
              <table class="table">
                  <thead class=" text-primary">
                      <th>
                          Codigo
                      </th>
                      <th>
                          Producto
                      </th>
                      <th>
                          Cantidad
                      </th>
                      <th>
                          Precio
                      </th>
                      <th>
                        % Descuento
                    </th>
                      <th>
                          Total
                      </th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of dataRecibo; let i=index">
                          <td>
                              {{item.id}}
                          </td>
                          <td>
                              {{item.nombre}}
                          </td>
                          <td>
                            <a class="numero_edicion" (click)="openCantidad('20ms','20ms',item.id,item.cantidad,item.nombre)">{{item.cantidad}}</a>
                          </td>
                         <td>
                             <a class="numero_edicion" (click)="openPrecio('20ms','20ms',item.id,item.precio,item.nombre)">S/ {{item.precio}}</a>
                          </td>
                          <td>
                            <a class="numero_edicion" (click)="openDescuento('20ms','20ms',item.id,item.precio,item.nombre)">% {{item.descuento}}</a>
                         </td>
                          <td class="text-primary">
                              S/ {{item.cantidad * item.precio}}
                          </td>
                      </tr>


                  </tbody>
              </table>
          </div>
          {{totalMonto}}
      </div>
      </div>
    </div>
  </div>
  </div>
