.example-button-row{
    background-color: white;
}
mat-row.hovered {
    background: rgb(146, 107, 107);
}
mat-row.highlighted {
  background: #999;
}
mat-header-cell{font-size: 11px; font-weight: 700;}
mat-cell{font-size: 12px;}