.example-button-row{
    background-color: white;
}
.mat-row.hovered {
    background: rgb(146, 107, 107);
}

.mat-row.highlighted {
  background: #999;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  border-bottom: unset;
}
mat-header-cell{font-size: 14px; font-weight: 700;}
mat-cell{font-size: 13px;  font-weight: 400;color: black !important}