mat-datepicker-toggle
{
    float: right !important;
    position: absolute;
    top: 0px;
    right: 0px;
}
button{
height: 42px;
    margin-left: 20px;
    margin-top: 14px;
}


.input-group-addon{
    margin-right: 20px;
    padding-top: 20px;
    margin-left: 20px;
    font-weight: bold;
}