<div *ngIf="data.clase!='DelProducto'">
    <h1 mat-dialog-title>Agregar Producto</h1>
    <form #formGeneral="ngForm">
    <div mat-dialog-content>
        <div style="display: flex;flex-direction: column; margin:1rem auto; width: 600px; padding: 1rem;">
            <mat-form-field appearance="outline" hintLabel="Max 11 números Min 8">
            <mat-label>Nombre Producto</mat-label>
              <input matInput [(ngModel)]="data.nombre" name="nombre" maxlength="110" minlength="2" type="text" placeholder="Nombre producto" required>
              <mat-hint align="end"> {{data.nombre.length}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
                <input matInput [(ngModel)]="data.categoria" name="categoria" type="text" placeholder="Categoria" required>
            </mat-form-field>

                </div>
    </div>
    </form>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="data" [disabled]="!formGeneral.form.valid" cdkFocusInitial>Confirmar</button>
    </div>
    </div>
    <div *ngIf="data.clase=='DelProducto'">
      <h1 mat-dialog-title>Eliminar registro {{data.categoria}} ?</h1>
    <div mat-dialog-content>
          </div>
    <div mat-dialog-actions>
      <button mat-raised-button  mat-dialog-close>Cancelar</button>
      <button mat-raised-button [mat-dialog-close]="data"  mat-dialog-close cdkFocusInitial>Aceptar</button>
    </div>
    </div>
