<div *ngIf="data.clase!='DelProducto' || 'modPrecio'">
    <h1 mat-dialog-title>Agregar Producto</h1>
    <form #formGeneral="ngForm">
    <div mat-dialog-content>
<div class="row">
<div class="col-8">
  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="outline">
        <mat-label>Codigo</mat-label>
          <input matInput [(ngModel)]="data.codigo" name="codigo" type="text">

        </mat-form-field>
    </div>
    <div class="col-9">
        <mat-form-field appearance="outline">
        <mat-label>Nombre Producto</mat-label>
          <input matInput [(ngModel)]="data.nombre" name="nombre" maxlength="110" minlength="2" type="text" placeholder="Nombre producto" required>
          <mat-hint align="end"> {{data.nombre.length}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-12">
          <mat-form-field appearance="outline">
          <mat-label>Categoria</mat-label>
                    <mat-select  [(ngModel)]="data.id_categoria" name="id_categoria" required (selectionChange)="seleccionarCategoria($event)">
                      <mat-option *ngFor="let cat of dataCategoria" [value]="cat.id">{{cat.nombre}}</mat-option>
            </mat-select>

        </mat-form-field>

      </div>
      <div class="col-12">
        <mat-form-field appearance="outline">
        <mat-label>Sub Categoria</mat-label>
          <mat-select name="id_subcategoria" required [(ngModel)]="data.id_subcategoria" (selectionChange)="seleccionarSubcategoria($event)">
            <mat-option value="" selected>Sub Categoría</mat-option>
            <mat-option *ngFor="let subcat of dataSubCategoria" [value]="subcat.id">{{subcat.nombre}}</mat-option>
      </mat-select>
  </mat-form-field>


    </div>
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Familia</mat-label>
        <mat-select [(ngModel)]="data.id_familia" name="id_familia" #id_familia="ngModel" required>
          <mat-option  *ngFor="let fam of dataFamilia" [value]="fam.id">{{fam.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Unidad de medida</mat-label>
        <mat-select [(ngModel)]="data.unidad" #unidad="ngModel" name="unidad">
          <mat-option  *ngFor="let uni of dataUnidad" [value]="uni.codigo">{{uni.nombre}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput [(ngModel)]="data.precio" name="precio" type="number" placeholder="Precio" required>
      </mat-form-field>
    </div>
      </div>
</div>
<div class="col-4 justify-content-center">

  <div *ngIf="!AddImagen" style="border:solid 1px #ccc;border-radius:10px;padding: 4px;text-align: center;">
    <img *ngIf="data.imagen==NULL" src="../../../assets/img/producto_defecto.png" >
    <img *ngIf="data.imagen!=NULL"  src="https://lh-cjm.com/erp-api/upload/{{ data.imagen}}" >
  </div>
   <input #fileInput type="file" class="form-control" (change)="seleccionarArchivo($event)" />

   </div>
</div>
</div>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="data" color="primary"  [disabled]="!formGeneral.form.valid" cdkFocusInitial><i class="material-icons">save</i>Guardar</button>
    </div>
  </form>
  </div>
    <div *ngIf="data.clase=='DelProducto'">
      <h1 mat-dialog-title>Eliminar registro {{data.categoria}} ?</h1>
    <div mat-dialog-content>
          </div>
    <div mat-dialog-actions>
      <button mat-raised-button  mat-dialog-close>Cancelar</button>
      <button mat-raised-button [mat-dialog-close]="data"  mat-dialog-close cdkFocusInitial>Aceptar</button>
    </div>
    </div>
    <div *ngIf="data.clase=='modPrecio'">
      <h1 mat-dialog-title> {{data.precio}} ?</h1>
    <div mat-dialog-content>
          </div>
    <div mat-dialog-actions>
      <button mat-raised-button  mat-dialog-close>Cancelar</button>
      <button mat-raised-button [mat-dialog-close]="data"  mat-dialog-close cdkFocusInitial>Aceptar</button>
    </div>
    </div>

