/* You can add global styles to this file, and also import other style files */
:host ::ng-deep  .sidebar .nav p.active{
    background-color: red !important;
}

.example-button-row{
    background-color: white;
}

.example-button-row{
    background-color: white;
}
.mat-row.hovered {
    background: rgb(146, 107, 107);
}

.mat-row.highlighted {
  background: #999;
}


mat-header-cell{font-size: 11px; font-weight: 700;}
mat-cell{font-size: 12px;}