<small><strong>{{data.nombre}}</strong></small>
<mat-form-field appearance="outline">
    <mat-label>% Descuento</mat-label>
      <input matInput [(ngModel)]="data.descuento" (ngModelChange)="cambiaDescuento(data.precio,data.descuento)" name="descuento" type="number">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>S/ Monto de descuento</mat-label>
          <input matInput   mask="separator.2" prefix="S/ " [(ngModel)]="descuentoTotal" readonly name="total" type="text">
        </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button [mat-dialog-close]="data"  cdkFocusInitial>Ingresar</button>
    </div>
