<div class="table-responsive boleta">
    <table class="table">
        <thead class=" text-primary">
            <th>
                Codigo
            </th>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>

        </thead>
        <tbody>
            <tr *ngFor="let item of datos.detalle; let i=index">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.nombre}}
                </td>
                <td>
                  <a class="numero_edicion" (click)="openCantidad('20ms','20ms',item.id,item.cantidad,item.nombre)">{{item.cantidad}}</a>
                </td>


            </tr>


        </tbody>
    </table>
</div>
